.header{
    border-bottom: 1px solid rgba(133, 131, 131, 0.1);
    
}

ul li a {

    padding-right :20px;
}

.row a {
    color: #6e6e6e;
    font-weight: 500;
}
i{
    color:blanchedalmond;
}
.logo-img{
    width: 40px;
}
.logo{
    display: flex;
    padding-left: 60px;
}
.logo .logo-h1{
    display: inline-block;
    position: relative;
    color: #585858;
    font-size: 25px;
    padding-left: 10px;
    font-weight: 500;
}

.search{
    border: 1px solid rgba(31, 30, 30, 0.1); 
    border-radius: 15px;
    width: 200px;
    padding: 0.1.9em;
    padding-left: 30px;
    font-size: 15px;

}

.search:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 1px solid #06973e; 
}
.bi-search{
    font-size: 15px;
    padding-left: 11px;
    padding-top: 1px;
    color:#6e6e6e; 
    font-weight: 500;
    opacity: 25%;
}
ul li a i {
    color: #6e6e6e;
    font-weight: 500;
}
.dropdown{
    position: absolute;
    text-align: left;
    border: 1px solid;
}

.dropdown li a:hover {
    color: rgb(16, 233, 16);
}
